<mat-card *ngFor="let item of items; let counter = index;" (click)="onItemSelected(item)" [tabindex]="item.id" class="service-item no-select">
  <mat-icon>{{ getIcon(item) }}</mat-icon> {{ item.title }}
</mat-card>
